<!DOCTYPE html>
<html ng-app="meuModulo">
<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sistema de Notas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<div ng-include="'templates/_nave.html'"></div>
<body ng-controller="indexController">   

<main class= "container">
        <div class="string">
            <br>
            <input type="text" ng-model="busca" placeholder="Busca">
    
        </div>
    
        <div class="row">
            <table class="striped">
                
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Nota1</th>
                        <th>Nota2</th>
                        <th>Nota3</th>
                        <th>Média</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in alunos | filter:busca" >
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.email}}</td>
                        <td>{{aluno.nota1}}</td>
                        <td>{{aluno.nota2}}</td>
                        <td>{{aluno.nota3}}</td>
                        <td>{{aluno.media}}</td>
                        <td><button ng-click="editarAluno(aluno)" class="waves-effect modal-trigger btn green " href="#modal1">Editar</button>
                            <button ng-click="deletarAluno(aluno)" class="waves-effect modal-trigger btn red">Deletar</button>
                        </td>
                    </tr>
                </tbody> 
            </table>
        </div>
        <div class="row">        
            <!-- Modal Trigger -->
            <a ng-click="editando = false;" class="waves-effect waves-light btn modal-trigger" href="#modal1">adicionar</a>
        </div>
    </main>
    
     <!-- Modal Structure -->
     <div id="modal1" class="modal modal-fixed-footer">
       <div class="modal-content">
         <h4 ng-if="!editando">Adicionar aluno</h4>
         <h4 ng-if="editando">Editar aluno</h4>
         <p>Preencha os dados do Aluno</p>
         <div class="row">
            <div class="input-field col m6 s12">
                <input type="text" ng-model="Aluno.nome" class="validate" placeholder="Nome">
            </div>
            <div class="input-field col m6 s12">
                <input type="text" ng-model="Aluno.email" class="validate" placeholder="E-mail">
            </div>
            <div class="input-field col m4 s12">
                <input type="text" ng-model="Aluno.nota1" class="validate" placeholder="Nota1">
            </div>
            <div class="input-field col m4 s12">
                <input type="text" ng-model="Aluno.nota2" class="validate" placeholder="Nota2">
            </div>
            <div class="input-field col m4 s12">
                    <input type="text" ng-model="Aluno.nota3" class="validate" placeholder="Nota3">
            </div>
        </div>
    </div>
       <div class="modal-footer">
        <a href="#!" ng-click= 'limpoTudo(Aluno)' class="modal-close waves-effect waves-light btn blue">Cancelar</a>
        <a ng-if="!editando" ng-click="addAluno(Aluno)" class="modal-close waves-effect waves-light btn blue" >adicionar</a>
        <a ng-if="editando" ng-click="salvarAluno(Aluno)" class="modal-close waves-effect waves-light btn blue" >salvar</a>
         
       </div>
     </div>

<div ng-view></div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
//importa a biblioteca do jquery
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
//importar a biblioteca de templetes do materialize
</script>
<script type="text/javascript" src="lib/angular/angular.min.js">
//importar tudo do arquivo angular.min.js</script>
<script type="text/javascript" src="lib/angular/angular-route.min.js">
//importar tudo do arquivo angular-route.min.js</script>
    
<script src="js/materialize/init.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/controllers.js"></script>
        
</body>
</html>